:root {
  --sp-red: #f6323e;
}

.nav-item {
  position: relative;
}

.nav-item::before {
  content: "";
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  background-color: var(--sp-red);
  width: 100%;
  height: 4px;
  bottom: -2px;
  transition: transform 200ms;
}

.nav-item:hover::before {
  transform-origin: left;
  transform: scaleX(100%);
}

#logo {
  transition: text-shadow 200ms;
  --shadow-size: 3px;
}

#logo:hover {
  text-shadow: var(--shadow-size) var(--shadow-size) grey;
}

#ham {
  height: 3px;
  width: 25px;
  background-color: white;
}

#ham::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: white;
  top: 7px;
}

#ham::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: white;
  top: -7px;
}

/* Topic box */
.topic-box input {
  appearance: none;
  --webkit-appearance: none;
}
.topic-box label:hover {
  background-color: rgb(78, 78, 78);
}

.topic-box input:checked + label {
  background-color: #2563EB;
color:white
}
.topic-box input:checked + label:hover {
opacity: .7;
}

@media (max-width: 640px) {
  #nav-content {
    display: none;
  }
  #nav-content.active {
    display: flex;
  }
  
}
